# <font color = 'red'>Simple Random Sampling</font>

In [1]:
# Importing Libraries
import pandas as pd

In [2]:
# Loading the dataframe
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [3]:
# Shape of the data
data.shape

(2372, 10)

In [4]:
# Taking AmountInUSD column for calculating max, min and avg of population and sample (simple random sampling)
amount = data['AmountInUSD']
amount.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [5]:
# null value count
amount.isna().sum()

847

In [6]:
# Droping the null values from the amount column
amount.dropna(inplace = True)
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [7]:
# replacing ',' from the amount column
amount = amount.str.replace(',', '')
amount.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [8]:
# converting amount value to numeric 
amount = pd.to_numeric(amount)
amount.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: int64

In [9]:
# type of the amount value
type(amount[0])

numpy.int64

In [10]:
# population for our analysis is amount
population = amount

# calculating max, avg, min of population
pop_max = population.max()
pop_avg = population.mean()
pop_min = population.min()

print('population Max : ', pop_max)
print('population Avg : ', pop_avg)
print('population Min : ', pop_min)

population Max :  1400000000
population Avg :  12031073.099016393
population Min :  16000

In [11]:
# Creating sample of size 100 from population using simple random sampling
sample_size = 100
sample = population.sample(sample_size, random_state = 7)
sample.head()

461     6500000
1641    7700000
2057    1600000
71       776000
1795    1000000
Name: AmountInUSD, dtype: int64

In [12]:
# shape of sample
sample.shape

(100,)

In [13]:
# Calculating Max, Avg, Min of the sample
sample_max = sample.max()
sample_avg = sample.mean()
sample_min = sample.min()

print('Sample Max : ',sample_max)
print('Sample Avg : ',sample_avg)
print('Sample Min : ',sample_min)

Sample Max :  1400000000
Sample Avg :  21670611.0
Sample Min :  16600

In [14]:
# Calculating sampling error
error_max = pop_max - sample_max
error_avg = pop_avg - sample_avg
error_min = pop_min - sample_min

print('Sampling Error in Max Value : ', error_max)
print('Sampling Error in Avg Value : ', error_avg)
print('Sampling Error in Min Value : ', error_min)

Sampling Error in Max Value :  0
Sampling Error in Avg Value :  -9639537.900983607
Sampling Error in Min Value :  -600